/* Styles specific to the login page */
.login-page {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f9;
  color: #333;
  min-height: 100vh;
  padding: 2rem;
}

.login-page h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #4a90e2;
}

.login-page .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  min-height: 100vh;
}

.login-page .grid-two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.login-page .left-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
 
}

.login-page .right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .form-container {
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.login-page .label {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.login-page .input-container {
  margin-bottom: 1.5rem;
}

.login-page .input {
  width: 100%;
  padding: 1.1rem;
  font-size: 1.7rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
}
 ::placeholder{
  font-family:'Courier New', Courier, monospace; ;
}

.login-page .input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.3);
}

.login-page .submit-button {
  width: 100%;
  padding: 0.8rem;
  background: #4a90e2;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

.login-page .submit-button:hover {
  background: #357ab8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-page .grid-two-cols {
      grid-template-columns: 1fr;
      gap: 1rem;
  }

  .login-page .form-container {
      padding: 2rem;
  }

  .login-page h1 {
      font-size: 1.5rem;
  }
}